Cython
numpy
appdirs
audioread
bidict
Brotli
certifi
cffi
chardet
charset-normalizer
click
dbus-python
decorator
dnspython
eventlet
ffmpeg-python
Flask
Flask-Compress
Flask-SocketIO>=5.0.0
greenlet
idna
itsdangerous
Jinja2
joblib
librosa
llvmlite
MarkupSafe
matplotlib
mido
monotonic
mpmath
mutagen
numba
packaging
pooch
pycparser
pycryptodomex
PyGObject==3.50.0
pyparsing
python-engineio
python-socketio>=5.0.0
pyxattr
requests
#resampy==0.2.2
resampy
scikit-learn
scipy
six
SoundFile
sympy
threadpoolctl
urllib3
websockets
Werkzeug
youtube-dl
yt-dlp
